<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>新規作成</title>

    <script src="/assets/js/metrixir.client.js"></script>
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>

    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="/assets/js/jquery.autoKana.js" language="javascript" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(
        function() {
            $.fn.autoKana('#kanjiName', '#kanaName', {
                katakana : true
        });
    });
    </script>
    <script type="text/javascript">
    window.onbeforeunload = function(e) {
    e.returnValue = "このページから移動してもよろしいですか？（入力内容は保存されません）";
    }</script>



</head>
<body>
<div class="full height image" layout:fragment="content">
    <div class="ui main container">
        <div class="ui information container">
            <div class="ui middle center aligned grid">
                <div class="center column">
                    <div class="ui segment metrixir">
                        <h1 class="ui aligned header teal">お申込み情報</h1>

                        <form class="ui form" method="post" action="/cardOrder/user">

                            <!-- /*エラーがあれば表示する*/
                            <ul class="ui red basic label" th:if="${form.hasErrors()}">
                                <li th:each="error : ${form.getErrors().entrySet()}" th:text="${error.value}"></li>
                            </ul>
                            -->
                            <!-- エラーがあれば「※入力内容に誤りがあります」と表示する -->
                            <ul class="ui red basic label" th:if="${form.hasErrors()}">
                                <li>※入力内容に誤りがあります</li>
                            </ul>

                            <div class="ui horizontal divider">ご本人について</div>

                            <div class="field" th:classappend="${form.hasErrors('kanjiName')} ? 'error'">
                                <label><span style="color: red;">★</span>の項目は必須です。</label>
                                <label><span style="color: red;">★</span>お名前（漢字）<span style="color: gray;">（例）山田　太郎</span></label>

                                <input type="text" id="kanjiName" name="kanjiName" th:value="${form.kanjiName}"/>

                                <ul class="ui red basic label" th:if="${form.hasErrors('kanjiName')}">
                                    <li th:each="error : ${form.getErrors('kanjiName')}" th:text="${error}"></li>
                                </ul>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('kanaName')} ? 'error'">
                                <label><span style="color: red;">★</span>お名前（カナ）<span style="color: gray;">（例）ヤマダ　タロウ</span></label>
                                <input type="text" id= "kanaName" name="kanaName" th:value="${form.kanaName}"/>

                                <ul class="ui red basic label" th:if="${form.hasErrors('kanaName')}">
                                    <li th:each="error : ${form.getErrors('kanaName')}" th:text="${error}"></li>
                                </ul>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('alphabetName')} ? 'error'">
                                <label><span style="color: red;">★</span>お名前（ローマ字）<span style="color: gray;">（例）YAMADA TAROU </span><br><span style="color: red;">※入力いただいた表記でカードに印字します。</span></label>
                                <input type="text" name="alphabetName" th:value="${form.alphabetName}"/>

                                <ul class="ui red basic label" th:if="${form.hasErrors('alphabetName')}">
                                    <li th:each="error : ${form.getErrors('alphabetName')}" th:text="${error}"></li>
                                </ul>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('gender')} ? 'error'">
                                <label><span style="color: red;">★</span>性別</label>
                                <label>
                                <input type="radio" id="s1" name="gender" value="male" th:checked="${form.gender}=='male'" checked/>
                                <label for="s1">男性</label><br>
                                <input type="radio" id="s2" name="gender" value="female" th:checked="${form.gender}=='female'"/>
                                <label for="s2">女性</label>
                                </label>
                                <ul class="ui red basic label" th:if="${form.hasErrors('gender')}">
                                    <li th:each="error : ${form.getErrors('gender')}" th:text="${error}"></li>
                                </ul>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('dateOfBirth')} ? 'error'">
                                <label><span style="color: red;">★</span>生年月日（半角）<span style="color: red;">※「/」で区切って入力してください。</span></label>
                                <input type="text" name="dateOfBirth" th:value="${form.dateOfBirth}"/>
                                <ul class="ui red basic label" th:if="${form.hasErrors('dateOfBirth')}">
                                    <li th:each="error : ${form.getErrors('dateOfBirth')}" th:text="${error}"></li>
                                </ul>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('zipCode')} ? 'error'">
                                <!--<label><span style="color: red;">★</span>郵便番号（半角）<span style="color: red;">※「ハイフン(－)」なし</span></label>-->
                                <label><span style="color: red;">★</span>郵便番号（半角）<span style="color: gray;">（例）1600023　</span><span style="color: red;">※「ハイフン(－)」なし</span></label>
                                <input type="text" class="zipCode" name="zipCode" size="10" maxlength="8"onKeyUp="AjaxZip3.zip2addr(this,'','address','address');" th:value="${form.zipCode}" style=" width: 20%;">
                                <ul class="ui red basic label" th:if="${form.hasErrors('zipCode')}">
                                    <li th:each="error : ${form.getErrors('zipCode')}" th:text="${error}"></li>
                                </ul>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('address')} ? 'error'">
                                <!--<label><span style="color: red;">★</span>ご住所</label>-->
                                <label><span style="color: red;">★</span>ご住所<span style="color: gray;">（例）東京都新宿区西新宿8丁目17番1号</span></label>
                                <input type="text" name="address" size="60 " th:value="${form.address}">
                                <ul class="ui red basic label" th:if="${form.hasErrors('address')}">
                                    <li th:each="error : ${form.getErrors('address')}" th:text="${error}"></li>
                                </ul>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('homePhoneNumber')} ? 'error'">
                                <label><span style="color: red;">★</span>自宅電話番号（半角）<span style="color: gray;">（例）0312345678　</span><span style="color: red;">※「ハイフン(－)」なし</span></label>
                                <input type="text" name="homePhoneNumber" maxlength="10" th:value="${form.homePhoneNumber}"style=" width: 40%;"/>
                                <ul class="ui red basic label" th:if="${form.hasErrors('homePhoneNumber')}">
                                    <li th:each="error : ${form.getErrors('homePhoneNumber')}" th:text="${error}"></li>
                                </ul>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('mobilePhoneNumber')} ? 'error'">
                                <label><span style="color: gray;">(任意)</span>携帯電話番号（半角）<span style="color: gray;">（例）09012345678　</span><span style="color: red;">※「ハイフン(－)」なし</span></label>
                                <input type="text" name="mobilePhoneNumber" maxlength="11" th:value="${form.mobilePhoneNumber}"style=" width: 40%;"/>
                                <ul class="ui red basic label" th:if="${form.hasErrors('mobilePhoneNumber')}">
                                    <li th:each="error : ${form.getErrors('mobilePhoneNumer')}" th:text="${error}"></li>
                                </ul>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('emailAddress')} ? 'error'">
                                <label><span style="color: red;">★</span>メールアドレス（半角）<span style="color: gray;">（例）amakara@tiscon.net</span></label>
                                <input type="text" name="emailAddress" th:value="${form.emailAddress}"/>
                                <ul class="ui red basic label" th:if="${form.hasErrors('emailAddress')}">
                                    <li th:each="error : ${form.getErrors('emailAddress')}" th:text="${error}"></li>
                                </ul>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('spouse')} ? 'error'">
                                <label><span style="color: red;">★</span>配偶者有無</label>
                                <label>
                                <input type="radio" id="h1" name="spouse" value="1" th:checked="${form.spouse}=='1'"/>
                                <label for="h1">配偶者あり</label><br>
                                <input type="radio" id="h2" name="spouse" value="0" th:checked="${form.spouse}=='0'"/>
                                <label for="h2">配偶者なし</label>
                                </label>
                                <ul class="ui red basic label" th:if="${form.hasErrors('spouse')}">
                                    <li th:each="error : ${form.getErrors('spouse')}" th:text="${error}"></li>
                                </ul>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('houseClassification')} ? 'error'">
                                <label><span style="color: red;">★</span>お住まい</label>
                                <label>
                                <input type="radio" id="j1" name="houseClassification" value="自己所有" th:checked="${form.houseClassification}=='自己所有'"/>
                                <label for="j1">本人名義の一戸建・マンション</label><br>
                                <input type="radio" id="j2" name="houseClassification" value="家族所有" th:checked="${form.houseClassification}=='家族所有'"/>
                                <label for="j2">家族名義の一戸建・マンション</label><br>
                                <input type="radio" id="j3" name="houseClassification" value="社宅" th:checked="${form.houseClassification}=='社宅'"/>
                                <label for="j3">社宅</label><br>
                                <input type="radio" id="j4" name="houseClassification" value="公営" th:checked="${form.houseClassification}=='公営'"/>
                                <label for="j4">公営住宅</label><br>
                                <input type="radio" id="j5" name="houseClassification" value="賃貸" th:checked="${form.houseClassification}=='賃貸'"/>
                                <label for="j5">賃貸マンション</label><br>
                                <input type="radio" id="j6" name="houseClassification" value="借家" th:checked="${form.houseClassification}=='借家'"/>
                                <label for="j6">借家</label><br>
                                <input type="radio" id="j7" name="houseClassification" value="アパート" th:checked="${form.houseClassification}=='アパート'"/>
                                <label for="j7">アパート</label><br>
                                <input type="radio" id="j8" name="houseClassification" value="寮下宿" th:checked="${form.houseClassification}=='寮下宿'"/>
                                <label for="j8">寮・下宿</label><br>
                                <input type="radio" id="j9" name="houseClassification" value="その他" th:checked="${form.houseClassification}=='その他'"/>
                                <label for="j9">その他</label>
                                </label>
                                <ul class="ui red basic label" th:if="${form.hasErrors('houseClassification')}">
                                    <li th:each="error : ${form.getErrors('houseClassification')}" th:text="${error}"></li>
                                </ul>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('debt')} ? 'error'">
                                <label><span style="color: red;">★</span>ローン等のお借り入れ金額（半角）<span style="color: gray;">（例）100万円　→　100</span></label>
                                <input type="text" class="number" name="debt" th:value="${form.debt}"/><span class="unit">万円</span>
                                <br>
                                <ul class="ui red basic label" th:if="${form.hasErrors('debt')}">
                                    <li th:each="error : ${form.getErrors('debt')}" th:text="${error}"></li>
                                </ul>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('income')} ? 'error'">
                                <label><span style="color: red;">★</span>昨年の所得（半角）<span style="color: gray;">（例）500万円　→　500</span></label>
                                <input type="text" class="number" name="income" th:value="${form.income}"/><span class="unit">万円</span>
                                <br>
                                <ul class="ui red basic label" th:if="${form.hasErrors('income')}">
                                    <li th:each="error : ${form.getErrors('income')}" th:text="${error}"></li>
                                </ul>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('job')} ? 'error'">
                                <label><span style="color: red;">★</span>ご職業</label>
                                <label>
                                <input type="radio" id="w1" name="job" value="経営自営" th:checked="${form.job}=='経営自営'"/>
                                <label for="w1">経営・自営業</label><br>
                                <input type="radio" id="w2" name="job" value="会社員" th:checked="${form.job}=='会社員'"/>
                                <label for="w2">会社員</label><br>
                                <input type="radio" id="w3" name="job" value="契約派遣" th:checked="${form.job}=='契約派遣'"/>
                                <label for="w3">契約・派遣社員</label><br>
                                <input type="radio" id="w4" name="job" value="公務員" th:checked="${form.job}=='公務員'"/>
                                <label for="w4">公務員</label><br>
                                <input type="radio" id="w5" name="job" value="民間団体" th:checked="${form.job}=='民間団体'"/>
                                <label for="w5">民間団体</label><br>
                                <input type="radio" id="w6" name="job" value="主婦" th:checked="${form.job}=='主婦'"/>
                                <label for="w6">主婦</label><br>
                                <input type="radio" id="w7" name="job" value="学生" th:checked="${form.job}=='学生'"/>
                                <label for="w7">学生</label><br>
                                <input type="radio" id="w8" name="job" value="年金受給" th:checked="${form.job}=='年金受給'"/>
                                <label for="w8">年金受給者の方</label><br>
                                <input type="radio" id="w9" name="job" value="パートアルバイト" th:checked="${form.job}=='パートアルバイト'"/>
                                <label for="w9">パート・アルバイト</label><br>
                                <input type="radio" id="w10" name="job" value="他有職" th:checked="${form.job}=='他有職'"/>
                                <label for="w10">その他 (有職）</label><br>
                                <input type="radio" id="w11" name="job" value="他無職" th:checked="${form.job}=='他無職'"/>
                                <label for="w11">その他（無職）</label>
                                </label>
                                <ul class="ui red basic label" th:if="${form.hasErrors('job')}">
                                    <li th:each="error : ${form.getErrors('job')}" th:text="${error}"></li>
                                </ul>
                            </div>

                            <!--/*"お勤め先"の入力値を引き回すための隠し項目*/-->
                            <input type="hidden" name="employerName" th:value="${form.employerName}"/>
                            <input type="hidden" name="employerZipCode" th:value="${form.employerZipCode}"/>
                            <input type="hidden" name="employerAddress" th:value="${form.employerAddress}"/>
                            <input type="hidden" name="employerPhoneNumber" th:value="${form.employerPhoneNumber}"/>
                            <input type="hidden" name="industryType" th:value="${form.industryType}"/>
                            <input type="hidden" name="capital" th:value="${form.capital}"/>
                            <input type="hidden" name="companySize" th:value="${form.companySize}"/>
                            <input type="hidden" name="department" th:value="${form.department}"/>
                            <input type="hidden" name="position" th:value="${form.position}"/>
                            <input type="hidden" name="employeeLength" th:value="${form.employeeLength}"/>

                            <p style="color: red;">経営・自営業会社員、契約・派遣会社員、公務員、民間団体 、その他 (有職）の方は<br>お勤め先情報の入力が必要となります
                            </p>

                            <button class="ui fluid teal button" onclick="window.onbeforeunload=null">登録 ／ 次へ（お勤め先情報の入力） </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
